:root {
    --headercolor: #3aafa9;
    --mainText: #def2f1;
    --subText: #17252a;
}
*{
    background-color: #D1E8E2;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header { 
    background-color: var(--headercolor); 
    border-bottom: 3px solid #000000;
    background-size: cover;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 99999;

}
.profile-image {
    width: 25%;
    height: auto;
    border-radius: 50%;
    margin: 0;

}

header h1 {
    margin: 0;
    width: 50%;
    background-color: var(--headercolor);
    
}
header nav {
    margin: 7px 0;
    display: flex;
    width: 50%;
    background-color: var(--headercolor);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    background-color: var(--headercolor);
}
header nav ul li{
    font-size: 30px;
    display: inline-block;
    padding: 5px 20px;
    background-color: var(--headercolor);
}
header nav ul li a{
    margin: 10px 15px;
    background-color: var(--headercolor);
}
.my-bio {
    display: flex;
    align-items: center;
    background-color: var(--headercolor);
    margin: 50px 0;
}
.my-bio h2{
    background-color: var(--headercolor);
    font-size: 30px;
    margin: 50px;
    width: 400px;
    border-right: 3px solid #000000;
    padding: 150px 120px;
}
.my-bio article{
    background-color:var(--headercolor);
}
.projects-top {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}
.projects-top h2 {
    background-color: var(--headercolor);
    font-size: 30px;
    width: 400px;
    border-right: 3px solid #000000;
    padding: 150px 120px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
}
.top-project {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50%;
}
.top-project img {
    height: auto;
    width: 900px;
    
}
.sub-project {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50%;
}
.sub-project img {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 400px;
}
footer{
    background-color: var(--headercolor); 
    border-top: 3px solid #000000;
    background-size: cover;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    top: 3px;
    text-align: center;

}
footer h2 {
    font-size: 30px;
    background-color: var(--headercolor);
    margin: 50px;   
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    background-color: var(--headercolor);
}
footer ul li{
    background-color: var(--headercolor);
    font-size: 30px;
    display: inline-block;
    padding: 5px 20px;
}
footer ul li a, footer ul li address, footer ul li p {
    background-color: var(--headercolor);
    margin: auto;
}
